/* --- Import Font --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* -- Hide Scrollbar on website -- */
::-webkit-scrollbar { display: none; }
::-ms-overflow-style { scrollbar-width: none; }
/* -- Basic Zeroing -- */
h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; letter-spacing: 1.8px;}
ul, li { list-style: none;}
a {text-decoration: none; cursor: pointer;}
/* -- Basic Style -- */
html, body {
    margin: 0;
    padding: 0;
    /* -- Block Size -- */
    min-height: 100%;
    /* -- Font -- */
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    /* -- Color & Background -- */
    color: white;
    background: rgb(0,70,127);
    background: linear-gradient(165deg, rgba(0,70,127,1) 0%, rgba(165,204,130,1) 100%);
    /* -- Display -- */
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
/* ----- Main Style container ----- */
/* -- Main container -- */
.main {
    margin: 0;
    padding: 0;
    /* -- Block Size -- */
    width: 100%;
    height: auto;
}
/* -- Main's bounding container -- */
.main-wrapper {
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
    /* -- Block Size -- */
    width: 80%;
    /* -- Display -- */
    display: flex;
    flex-direction: row;
}
/* ----- Main Basic content container ----- */
/* -- Main Basic -- */
.main-basic {
    margin: 0;
    padding: 0;
    /* -- Block Size -- */
    width: 60%;
}
/* -- Basic content container -- */
.basic-content {
    margin: 0 auto;
    padding: 0;
    /* -- Block Size -- */
    width: 90%;
    
}
/* -- Content container -- */
.content:not(:first-child) {
    margin: 40px 0px;
}
.content {
    padding: 0;
    /* -- Block Size -- */
    width: 100%;
    /* -- Display -- */
    display: flex;
    flex-direction: row;
    /* -- Color -- */
    background-color: #333333b6;
    /* -- Border -- */
    border: 2px solid #333333b6;
    border-radius: 20px;
    overflow: hidden;
}
/* -- Content Image container -- */
.content-image {
    margin: 0;
    padding: 0;
    /* -- Block Size -- */
    width: 40%;
    /* -- */
}
.content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* -- Content Description container -- */
.content-description {
    margin: 0;
    padding: 20px 30px;
    width: 60%;
    /* -- Display -- */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* -- Description Items container -- */
/* -- Title -- */
.desc-title {
    margin: 0;
    padding: 0;
    /* -- Font -- */
    font-size: 28px;
    color: orange;
}
/* -- Text -- */
.desc-text {
    margin: 20px 0px;
    padding: 0;
    /* -- Font -- */
    font-size: 18px;
    line-height: 140%;
}
/* ----- Main News content container ----- */
/* -- Main News -- */
.main-news {
    margin: 0;
    padding: 0;
    /* -- Block Size -- */
    width: 40%;
}
/* -- News container -- */
.news {
    margin: 0 auto;
    padding: 20px;
    /* -- Block Size -- */
    width: 80%;
    /* -- Color -- */
    background-color: #333333b6;
    /* -- Other -- */
    border: 1px solid #333333b6;
    border-radius: 20px;
    overflow: hidden;
    /* -- Position -- */
    position: sticky;
}
/* -- New container -- */
.new:not(:last-child) {
    border-bottom: 2px solid white;
}
.new {
    margin: 30px 0px; 
    padding: 0px;
}
/* -- New Text -- */
.new-text {
    margin: 0;
    padding: 20px 0px;
    /* -- Font -- */
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.3px;
    
}